---
import Base from "@/layouts/Base.astro";
---
<Base title="About - Ethan Colgan" description="A short about page and recommended books.">
  <section class="py-6 space-y-6 prose-custom">
    <div>
      <h1>About</h1>
      <p>
        Coming soon...
      </p>
    </div>

    <div>
      <h2>Recommended Reading</h2>
      <p class="text-slate-400 text-sm">Recent favourites that align with my interests. Suited for those driven by learning:</p>
      <ul class="list-disc pl-5">
        <li>Change Your Diet Change Your Mind — Georgia Ede (2024)</li>
        <li>The Art and Science of Low Carbohydrate Living — Jeff Volek (2011)</li>
        <li>The Art and Science of Low Carbohydrate Performance — Stephen D. Phinney, Jeff Volek (2012)</li>
        <li>Brain Energy — Cristopher M. Palmer (2022)</li>
        <li>How To Be a Stoic — Massimo Pigliucci (2017)</li>
      </ul>
    </div>
  </section>
</Base>
